.cover__subtitle {
  position: relative;
  margin: 0 auto;
  max-width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
  margin-top: 32px;
  padding-bottom: 245px;
}
@media (max-width: 1024px) {
  .cover__subtitle {
    padding-bottom: 19.04%;
  }
}
@media (max-width: 768px) {
  .cover__subtitle {
    padding-bottom: 14.97%;
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (768 - 320)));
  }
}
@media (max-width: 320px) {
  .cover__subtitle {
    max-width: 258px;
    margin-top: 16px;
    padding-bottom: 33px;
    font-size: 14px;
    line-height: 114%;    
  }
}