.footer__copyright {
  margin: 0;
  max-width: 186px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
}
@media (max-width: 320px) {
  .footer__copyright {    
    line-height: 14px;
    text-align: left;
    margin-top: 16px;
  }
}