.cover__title {
  text-align: center;
  margin: 0 auto;
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #FFFFFF;
  padding-top: 245px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1024px) {
  .cover__title {
    padding-top: 19.04%;
  }
}
@media (max-width: 768px) {
  .cover__title {
    padding-top: 14.97%;
    font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (768 - 320)));
  }
}
@media (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 109%px;
    padding-top: 33px; 
    margin-left: 16px;
    margin-right: 16px;
  }
}