.place {  
  margin: 0;
  padding-top: 80px;
  display: flex;
  max-width: 984px;  
  flex-wrap: wrap; 
}
@media (max-width: 768px) {
  .place {  
    padding-top: 73px;
}
}
@media (max-width: 320px) {
  .place {  
    margin: 0;
    padding-top: 50px;
    display: flex;     
    flex-wrap: wrap; 
  }
}