.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin-top: 92px;
  padding-bottom: 24px;
  margin-left: 48px;
  margin-right: 48px;
}
@media (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}
@media (max-width: 768px) {
  .footer {
    margin: 88px 24px 0;
  }
}
@media (max-width: 320px) {
  .footer {
    margin-top: 64px;
    margin-left: 16px;
    flex-direction: column;
    width: 186px;
  }
}