@font-face {
  font-family: "Inter bold";
  src: url(/fonts/Inter/Inter-ExtraBold.woff2);  
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter/Inter-Regular.woff);
}
.page {
  background-color: #2A2C2F;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 auto;
  font-family: "Inter";
  
}
/*--------------------section header*/
.header {
  display: flex;
  margin: 0 auto;
  padding: 0;
  background-color: #2A2C2F;
  max-width: 1184px;
  min-height: 52px;
  padding-top: 28px;
  justify-content: space-between;
  margin-left: 48px;
  margin-right: 48px;
}
.header__logo {  
  width: 176px;
  height: 52px;
}
.header__lang-links {
  display: flex;
  align-items: end;  
}
.header__lang-link {
  text-decoration: none;
  margin-right: 18px;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;  
}
.header__lang-link:hover {
  opacity: 0.3;
}
.header__lang-link:nth-child(1) {
  text-decoration-line: underline;
}

.header__lang-link:nth-child(2) {
  margin-right: 0;
}
/*--------------------section lead*/
.lead {
  display: flex;
  margin: 0 auto;
  max-width: 984px;
  background-color: #2A2C2F;
  flex-direction: column;
}
.lead__title {
  font-family: "Inter bold";
  display: flex;
  margin: 0 auto;
  margin-top: 56px;
  width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;
}
.lead__subtitle {
  display: flex;
  margin: 0 auto;
  width: 640px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;
  padding-top: 32px;
}
.lead__image {  
  padding-top: 64px;  
}
.lead__caption {
  padding: 0;
  margin: 0;
  padding-top: 8px;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  justify-content: left;
}
/*--------------------section into*/
.into {
  margin: 0;  
  max-width: 690px;  
  margin-top: 92px;
  margin-left: 148px;
}
.into__title {
  font-family: "Inter bold";
  display: flex;
  margin: 0;
  max-width: 690px;  
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #FFFFFF;
}
.into__text {
  padding-top: 40px;
  max-width: 690px;  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
}
.into__list {
  margin: 0;
  padding: 0;
  padding-top: 33px;
  list-style: none;
  max-width: 690px;  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}
.into__list_value {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  line-height: 18px;  
}
/*--------------------section photo-grid*/
.photo-grid {
  margin: 0 auto;
  margin-top: 92px;
  display: grid;
  max-width: 1184px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  margin-bottom: 12px;
}
.photo-grid__item {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  width: 284px;
  height: 213px;
  border: 1px solid #000000;
  object-fit: cover;
}
/*--------------------section places*/
.places {
  display: flex;
  max-width: 984px; 
  flex-direction: column;
  margin: 0 auto; 
}
.place {  
  margin: 0;
  padding-top: 80px;
  display: flex;
  max-width: 984px;  
  flex-wrap: wrap; 
}
.place__title {
  display: flex;
  margin: 0;
  width: 460px;  
  font-family: 'Inter bold';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  color: #FFFFFF;
  order: 0;
}

.place__image {
  display: flex;
  margin: 0;  
  order: 2;
  padding-top: 48px;
}
.place__website {
  display: flex;
  max-width:456px;
  max-height: 46px;
  flex-direction: column;
  order: 1;
  padding-left: 40px;
  align-self: flex-end;
  
}
.place__website_url-heading {
  margin: 0;
  width: 456px;
  height: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */
  letter-spacing: 2px;
  color: #AAAAAA;
  margin-bottom: 12px;
  padding: 0;
}
.place__website_link {
  margin: 0;
  width: 456px;
  height: 22px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  text-decoration-line: underline;
  color: #FFFFFF;
  padding: 0;
}
.place__website_link:hover {
  opacity: 0.3;
}
.place__paragraphs {  
  display: flex;
  flex-direction: column;
  max-width: 484px;
  order: 2;
  padding-left: 40px;
  padding-top: 48px;
}
.place__paragraph-first {
  padding: 0;
  display: flex;
  margin: 0;
  max-width: 484px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
  color: #FFFFFF;
}
.place__paragraph-second {
  padding: 0;
  display: flex;
  margin: 0;
  max-width: 484px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
  color: #FFFFFF;
  order: 3;
  padding-top: 26px;
}
/*--------------------section cover*/
.cover {
  margin: 0 auto;
  position: relative;
  
  max-width: 1184px;
  margin-top: 92px;
  background-image: url(/images/cover__background.png);
  background-size: cover;
  background-position: center;
}
  
.cover__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  background-color:rgba(42, 44, 47, 0.3);
} 

.cover__overlay:hover {
  background-color:rgba(42, 44, 47, 0.8);  
}
.cover__title {    
  text-align: center;
  margin: 0 auto;
  width: 560px;
  font-family: 'Inter bold';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  padding-top: 245px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cover__subtitle {  
  position: relative;
  margin: 0 auto;
  width: 360px;  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
  margin-top: 32px;
  padding-bottom: 245px;
}



/*--------------------section footer*/
.footer {
  display: flex;
  
  justify-content: space-between;
  max-width: 1184px;
  margin-top: 92px;
  padding-bottom: 24px;
  margin-left: 48px;
  margin-right: 48px;
}
.footer__links {
  margin: 0;
  align-items: flex-start;
}
.footer__link {
  width: 50px;
  height: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */
  color: #FFFFFF;
  margin-right: 18px;
  text-decoration: none;
}
.footer__link:hover {
  opacity: 0.3;
}

.footer__copyright {
  width: 186px;
  height: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
}
@media (max-width: 1024px) {
  .lead {    
    max-width: 928px;      
  }    
  .lead__image {
    padding-top: 56px;    
  }





  .into {
    margin-left: 48px;
  }
  



  .photo-grid {
    max-width: 928px;
    gap: 14px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);  
  }
  .photo-grid__item {
    width: 300px;
    height: 225px;  
  }






  .places {
    max-width: 928px;    
  }
  .place {  
    max-width: 928px;    
  }
  .place__title {
    max-width: 440px;
   
  }
   
  .place__image {
    display: flex;
    max-width: 440px;
    max-height: 440px;  
  }
  .place__website {
    max-width: 456px;
    max-height: 46px;
    padding-left: 32px;
  }
   
   
  .place__paragraphs {
    max-width: 456px;
    padding-left: 32px;     
  }
  .place__paragraph-first {
    padding: 0; 

  }
  .place__paragraph-second {
    padding: 0;
    padding-top: 26px;
  }






  
  .cover {
   max-width: 1024px;
  
  }
  
  .cover__title {    
    padding-top: 195px;
  }
  .cover__subtitle {  
    padding-bottom: 195px;
  }



  .footer {
    max-width: 928px;
  }
  .footer__links {
    
  }
  .footer__link {
    
  }
  .footer__link:hover {
   
  }
  
  .footer__copyright {
    
  }

}
